In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

branch4 = pd.read_excel("pronostico_demanda/excel_branches/branch4.xlsx").drop(columns=['Unnamed: 0'])

In [20]:
branch4

       branch  semana  item_id  quantity
0           4     108        2         1
1           4     109        2         0
2           4     110        2         0
3           4     111        2         0
4           4     112        2         0
...       ...     ...      ...       ...
38411       4     194     2283         0
38412       4     195     2283         0
38413       4     196     2283         0
38414       4     197     2283         0
38415       4     198     2283         1

[38416 rows x 4 columns]

In [21]:
dicc_branch4 = dict()
branch = branch4.groupby(['item_id', 'semana'], as_index=False).agg({'quantity': 'sum'})

val_unicos = branch['item_id'].unique().tolist()

for v in range(len(val_unicos)):
    item = val_unicos[v]
    b_it = branch.loc[branch['item_id']==item]
    dicc_branch4[v] = b_it

In [22]:
# Diferencia binaria

def dif_binaria(y_true, predictions):
    pass

In [23]:
# MAE

# https://datagy.io/mae-python/

import numpy as np

def mae(y_true, predictions):
    y_true, predictions = np.array(y_true), np.array(predictions)
    return np.mean(np.abs(y_true - predictions))

In [24]:
# ------ FUNCIÓN MÉTODO PROMEDIO MÓVIL SIMPLE ------

import math
import datetime 
#window: 4. utiliza 4 semanas anteriores para el cálculo del promedio

#branch_item: dataset con los datos del item x para la branch y


datos_pms_branches = pd.DataFrame()
datos_pms_branches['branch'] = None
datos_pms_branches['item'] = None
datos_pms_branches['mae'] = None

def promedio_movil_simple(dicc_branch, item_key):

    data = dicc_branch[item_key]
    item = data['item_id'].iloc[0]
    
    data2 = data.copy()
    data = data2.drop(columns=['item_id'])
    
    #datos: [semana, quantity]
    
    data_training = data[:math.floor(int((len(data)*2/3)))+1]
    data_test = data[-math.ceil((int(len(data)*1/3))):]
    
    # Se calcula el promedio movil simple para los datos de entrenamiento
    data_training['MA'] = data_training['quantity'].rolling(window=4).mean().shift(1)

    #creo el dataset que tendrá las predicciones + la anterior, utilizando como dato real el del data_set y no la predicción 
    # anterior hecha
    data_forecast = data_training.copy()

    
    #producir pronóstico 
    for i in range(len(data_test)):
        #1. creo otra fila en data_forecast que contenga una semana más, 0(cantidad) y 0(promedio).
        data_forecast.loc[len(data_forecast)]=[data_forecast.iloc[len(data_forecast)-1][0] + 1, 0, 0]
        
        #1. para la columna MA recalculo el promedio y ya no es 0
        data_forecast['MA'] = data_forecast['quantity'].rolling(window=4).mean().shift(1)
        
        #1. reemplaza como valor real histórico el pronóstico para calcular la siguiente predicción con ese dato
        data_forecast['quantity'].loc[len(data_forecast)-1] = data_forecast['MA'].loc[len(data_forecast)-1]
        
        #2. creo otra fila en data_forecast que contenga una semana más, 0(cantidad) y 0(promedio).
        data_forecast.loc[len(data_forecast)]=[data_forecast.iloc[len(data_forecast)-1][0] + 1, 0, 0]
        
        #2. para la columna MA recalculo el promedio y ya no es 0
        data_forecast['MA'] = data_forecast['quantity'].rolling(window=4).mean().shift(1)
        
        #2. reemplaza como valor real histórico el dado por data_set para calcular la siguiente predicción con ese dato
        data_forecast['quantity'].loc[len(data_forecast)-2] = data_test['quantity'].iloc[i]

    #Visualización
    
    #fig = go.Figure()
    #fig.add_trace(go.Scatter(x=data_training['semana'][:-1], y=data_training['quantity'], name="Training"))
    #fig.add_trace(go.Scatter(x=data_test['semana'], y=data_test['quantity'], name="Test"))
    #fig.add_trace(go.Scatter(x=data_forecast['semana'][-len(data_test):], y=data_forecast['MA'][-len(data_test):], name="Pronóstico"))

    #fig.update_layout(title='Pronóstico según Promedio móvil simple',
    #                   xaxis_title='Semana',
    #                   yaxis_title='Demanda (unidades)')

    #fig.write_image("images/fig_1.png")
    #fig.show()

    return [data_test['quantity'], data_forecast['MA'][-len(data_test):]]

In [25]:
promedio_movil_simple(dicc_branch4, 0)

[68     1
 69     0
 70     1
 71     0
 72     0
 73     0
 74     0
 75     0
 76     1
 77     0
 78     0
 79     0
 80     0
 81     0
 82     0
 83     2
 84     0
 85     3
 86     0
 87     1
 88     0
 89     0
 90     0
 91     1
 92     0
 93     0
 94     0
 95     0
 96     0
 97     0
 98     0
 99     0
 100    0
 101    1
 Name: quantity, dtype: int64,
 103    0.50
 104    0.75
 105    0.75
 106    0.75
 107    0.75
 108    0.25
 109    0.25
 110    0.25
 111    0.25
 112    0.00
 113    0.00
 114    0.00
 115    0.00
 116    0.25
 117    0.25
 118    0.25
 119    0.25
 120    0.00
 121    0.00
 122    0.00
 123    0.00
 124    0.00
 125    0.00
 126    0.00
 127    0.00
 128    0.00
 129    0.00
 130    0.00
 131    0.00
 132    0.00
 133    0.00
 134    0.00
 135    0.00
 136    0.00
 Name: MA, dtype: float64]

In [26]:
promedio_movil_simple(dicc_branch4, 2)

[317    0
 318    0
 319    0
 320    0
 321    4
       ..
 384    0
 385    2
 386    0
 387    1
 388    2
 Name: quantity, Length: 72, dtype: int64,
 272    0.75
 273    0.50
 274    0.00
 275    0.00
 276    0.00
        ...
 167    0.25
 168    1.00
 169    1.00
 170    0.75
 171    1.00
 Name: MA, Length: 72, dtype: float64]

In [27]:
# ------ FUNCIÓN MÉTODO SUAVIZACIÓN EXPONENCIAL SIMPLE ------

from statsmodels.tsa.api import SimpleExpSmoothing
import datetime
import math


datos_ses_branches = pd.DataFrame()
datos_ses_branches['branch'] = None
datos_ses_branches['item'] = None
datos_ses_branches['mae'] = None

def suavizacion_exp_simp(dicc_branch, item_key):
    
    data = dicc_branch[item_key]
    item = data['item_id'].iloc[0]
    
    data2 = data.copy()
    data = data2.drop(columns=['item_id'])
    
    #datos: [semana, quantity]

    data_training = data[:math.floor(int((len(data)*2/3)))+1]
    data_test = data[-math.ceil((int(len(data)*1/3))):]
    
    data_forecast = pd.DataFrame()
    data_forecast['test'] = None
    data_forecast['SES 1'] = None
    data_forecast['SES 2'] = None
    
    #smoothing_level: valor no definido aun con relación a datos 
    #ses_model = SimpleExpSmoothing(np.asarray(data_training['quantity'])).fit(smoothing_level=0.3, optimized=False)
    
    #primer pronóstico
    #data_forecast['SES'].loc[len(data_forecast)-1] = ses_model.forecast(1)
    #data_forecast['test'].loc[len(data_forecast)-1] = data_test.iloc[0][1]
    
    #actualizar el data con el que se hace el siguiente pronóstico. debe incluir el dato de test
    #data_training.loc[len(data_training)] = [data_test.iloc[0][0], data_test.iloc[0][1]]
    
    for i in range(0, len(data_test)):
        ses_model = SimpleExpSmoothing(np.asarray(data_training['quantity'])).fit(smoothing_level=0.3, optimized=False)
        forecast = ses_model.forecast(2)
        data_forecast.loc[len(data_forecast)] = [data_test.iloc[i][1], forecast[0], forecast[1]]

        #actualizar el data con el que se hace el siguiente pronóstico. debe incluir el dato de test
        data_training.loc[len(data_training)] = [data_test.iloc[i][0], data_test.iloc[i][1]]

    #fig = go.Figure()
    #fig.add_trace(go.Scatter(x=data_training['semana'], y=data_training['quantity'], name="Training"))
    #fig.add_trace(go.Scatter(x=data_test['semana'], y=data_test['quantity'], name="Test"))
    #fig.add_trace(go.Scatter(x=data_test['semana'], y=data_forecast['SES'], name="Pronóstico"))

    #fig.update_layout(title='Pronóstico según Suavización Exponencial Simple',
    #                   xaxis_title='Semana',
    #                   yaxis_title='Demanda (unidades)')

    #fig.show()
    
    return [data_test['quantity'], data_forecast['SES 1']]

In [28]:
suavizacion_exp_simp(dicc_branch4, 2)

[317    0
 318    0
 319    0
 320    0
 321    4
       ..
 384    0
 385    2
 386    0
 387    1
 388    2
 Name: quantity, Length: 72, dtype: int64,
 0     0.676196
 1     0.473337
 2     0.331336
 3     0.231935
 4     0.162355
         ...
 67    0.210752
 68    0.210752
 69    0.210752
 70    0.210752
 71    0.210752
 Name: SES 1, Length: 72, dtype: float64]

In [29]:
# ----- FUNCIÓN SUAVIZACIÓN EXPONENCIAL DOBLE (Método de Holt) -----


from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
import datetime
import math


datos_sed_branches = pd.DataFrame()
datos_sed_branches['branch'] = None
datos_sed_branches['item'] = None
datos_sed_branches['mae'] = None

def suavizacion_exp_doble(dicc_branch, item_key):
    
    data = dicc_branch[item_key]
    item = data['item_id'].iloc[0]
    
    data2 = data.copy()
    data = data2.drop(columns=['item_id'])
    
    #datos: [semana, quantity]

    data_training = data[:math.floor(int((len(data)*2/3)))+1]
    data_test = data[-math.ceil((int(len(data)*1/3))):]
    
    data_forecast = pd.DataFrame()
    data_forecast['test'] = None
    data_forecast['SED 1'] = None
    data_forecast['SED 2'] = None
    
    for i in range(0, len(data_test)):
        sed_model = Holt(np.asarray(data_training['quantity'])).fit(smoothing_level = 0.3, smoothing_slope = 0.2)
        forecast = sed_model.forecast(2)
        data_forecast.loc[len(data_forecast)] = [data_test.iloc[i][1], forecast[0], forecast[1]]

        #actualizar el data con el que se hace el siguiente pronóstico. debe incluir el dato de test
        data_training.loc[len(data_training)] = [data_test.iloc[i][0], data_test.iloc[i][1]]

    #fig = go.Figure()
    #fig.add_trace(go.Scatter(x=data_training['semana'], y=data_training['quantity'], name="Training"))
    #fig.add_trace(go.Scatter(x=data_test['semana'], y=data_test['quantity'], name="Test"))
    #fig.add_trace(go.Scatter(x=data_test['semana'], y=data_forecast['SES'], name="Pronóstico"))

    #fig.update_layout(title='Pronóstico según Suavización Exponencial Simple',
    #                   xaxis_title='Semana',
    #                   yaxis_title='Demanda (unidades)')

    #fig.show()
    
    return [data_test['quantity'], data_forecast['SED 1']]

In [30]:
# ----- FUNCIÓN SUAVIZACIÓN EXPONENCIAL TRIPLE (Método Holt-Winters)

from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
import datetime
import math


datos_set_branches = pd.DataFrame()
datos_set_branches['branch'] = None
datos_set_branches['item'] = None
datos_set_branches['mae'] = None

def suavizacion_exp_triple(dicc_branch, item_key):
    
    data = dicc_branch[item_key]
    item = data['item_id'].iloc[0]
    
    data2 = data.copy()
    data = data2.drop(columns=['item_id'])
    
    #datos: [semana, quantity]

    data_training = data[:math.floor(int((len(data)*2/3)))+1]
    data_test = data[-math.ceil((int(len(data)*1/3))):]
    
    data_forecast = pd.DataFrame()
    data_forecast['test'] = None
    data_forecast['SET 1'] = None
    data_forecast['SET 2'] = None
    
    for i in range(0, len(data_test)):
        
        set_model = ExponentialSmoothing(np.asarray(data_training['quantity']) ,seasonal_periods=2 ,trend='add', seasonal='add',).fit()
        forecast = set_model.forecast(2)
        data_forecast.loc[len(data_forecast)] = [data_test.iloc[i][1], forecast[0], forecast[1]]

        #actualizar el data con el que se hace el siguiente pronóstico. debe incluir el dato de test
        data_training.loc[len(data_training)] = [data_test.iloc[i][0], data_test.iloc[i][1]]

    #fig = go.Figure()
    #fig.add_trace(go.Scatter(x=data_training['semana'], y=data_training['quantity'], name="Training"))
    #fig.add_trace(go.Scatter(x=data_test['semana'], y=data_test['quantity'], name="Test"))
    #fig.add_trace(go.Scatter(x=data_test['semana'], y=data_forecast['SES'], name="Pronóstico"))

    #fig.update_layout(title='Pronóstico según Suavización Exponencial Simple',
    #                   xaxis_title='Semana',
    #                   yaxis_title='Demanda (unidades)')

    #fig.show()
    
    return [data_test['quantity'], data_forecast['SET 1']]

In [31]:
# ----- MÉTODO SARIMA (ajuste de parámetros es automático) -----

from pmdarima import auto_arima
import datetime
import math

datos_ari_branches = pd.DataFrame()
datos_ari_branches['branch'] = None
datos_ari_branches['item'] = None
datos_ari_branches['mae'] = None

def sarima(dicc_branch, item_key):
    
    data = dicc_branch[item_key]
    item = data['item_id'].iloc[0]
    
    data2 = data.copy()
    data = data2.drop(columns=['item_id'])
    
    #datos: [semana, quantity]

    data_training = data[:math.floor(int((len(data)*2/3)))+1]
    data_test = data[-math.ceil((int(len(data)*1/3))):]
    
    data_forecast = pd.DataFrame()
    data_forecast['test'] = None
    data_forecast['sarima 1'] = None
    data_forecast['sarima 2'] = None

    for i in range(0, len(data_test)):
        
        model = auto_arima(y=np.asarray(data_training['quantity']), m=6)
        forecast = pd.Series(model.predict(n_periods = 2))
        data_forecast.loc[len(data_forecast)] = [data_test.iloc[i][1], forecast[0], forecast[1]]

        #actualizar el data con el que se hace el siguiente pronóstico. debe incluir el dato de test
        data_training.loc[len(data_training)] = [data_test.iloc[i][0], data_test.iloc[i][1]]

    return [data_test['quantity'], data_forecast['sarima 1']]

In [32]:
dicc_branch4

{0:      item_id  semana  quantity
 0          2     108         1
 1          2     109         0
 2          2     110         0
 3          2     111         0
 4          2     112         0
 ..       ...     ...       ...
 97         2     205         0
 98         2     206         0
 99         2     207         0
 100        2     208         0
 101        2     209         1

 [102 rows x 3 columns],
 1:      item_id  semana  quantity
 102        3     124         1
 103        3     125         1
 104        3     126         0
 105        3     127         0
 106        3     128         1
 ..       ...     ...       ...
 167        3     189         0
 168        3     190         1
 169        3     191         0
 170        3     192         0
 171        3     193         1

 [70 rows x 3 columns],
 2:      item_id  semana  quantity
 172       13       2         1
 173       13       3         0
 174       13       4         0
 175       13       5         0
 176       13       6         0
 ..       ...     ...       ...
 384       13     214         0
 385       13     215         2
 386       13     216         0
 387       13     217         1
 388       13     218         2

 [217 rows x 3 columns],
 3:      item_id  semana  quantity
 389       43     103         1
 390       43     104         0
 391       43     105         0
 392       43     106         0
 393       43     107         0
 ..       ...     ...       ...
 452       43     166         0
 453       43     167         0
 454       43     168         0
 455       43     169         0
 456       43     170         1

 [68 rows x 3 columns],
 4:      item_id  semana  quantity
 457       48       1         1
 458       48       2         0
 459       48       3         1
 460       48       4         2
 461       48       5         1
 ..       ...     ...       ...
 664       48     208         0
 665       48     209         0
 666       48     210         0
 667       48     211         0
 668       48     212         1

 [212 rows x 3 columns],
 5:      item_id  semana  quantity
 669       55       1         5
 670       55       2         1
 671       55       3         0
 672       55       4         1
 673       55       5         0
 ..       ...     ...       ...
 882       55     214         1
 883       55     215         0
 884       55     216         0
 885       55     217         1
 886       55     218         2

 [218 rows x 3 columns],
 6:      item_id  semana  quantity
 887       69      98         1
 888       69      99         0
 889       69     100         0
 890       69     101         0
 891       69     102         0
 ..       ...     ...       ...
 984       69     195         0
 985       69     196         0
 986       69     197         0
 987       69     198         0
 988       69     199         1

 [102 rows x 3 columns],
 7:       item_id  semana  quantity
 989        75      20         1
 990        75      21         0
 991        75      22         0
 992        75      23         2
 993        75      24         1
 ...       ...     ...       ...
 1164       75     195         0
 1165       75     196         0
 1166       75     197         0
 1167       75     198         0
 1168       75     199         2

 [180 rows x 3 columns],
 8:       item_id  semana  quantity
 1169       82      57         1
 1170       82      58         0
 1171       82      59         0
 1172       82      60         0
 1173       82      61         0
 ...       ...     ...       ...
 1317       82     205         0
 1318       82     206         0
 1319       82     207         0
 1320       82     208         0
 1321       82     209         1

 [153 rows x 3 columns],
 9:       item_id  semana  quantity
 1322      100       1         1
 1323      100       2         2
 1324      100       3         0
 1325      100       4         5
 1326      100       5         1
 ...       ...     ...       ...
 1510      100     189         0
 1511      100     190         0
 1512      100     191         0
 1513      100     192         0
 1514      100     193         2

 [193 rows x 3 columns],
 10:       item_id  semana  quantity
 1515      101     145         1
 1516      101     146         0
 1517      101     147         0
 1518      101     148         1
 1519      101     149         2
 1520      101     150         0
 1521      101     151         2
 1522      101     152         1
 1523      101     153         1
 1524      101     154         0
 1525      101     155         1
 1526      101     156         0
 1527      101     157         0
 1528      101     158         0
 1529      101     159         0
 1530      101     160         1,
 11:       item_id  semana  quantity
 1531      102      36         1
 1532      102      37         0
 1533      102      38         0
 1534      102      39         0
 1535      102      40         0
 ...       ...     ...       ...
 1690      102     195         1
 1691      102     196         0
 1692      102     197         0
 1693      102     198         0
 1694      102     199         1

 [164 rows x 3 columns],
 12:       item_id  semana  quantity
 1695      107      30         1
 1696      107      31         0
 1697      107      32         0
 1698      107      33         0
 1699      107      34         0
 ...       ...     ...       ...
 1838      107     173         0
 1839      107     174         1
 1840      107     175         0
 1841      107     176         0
 1842      107     177         2

 [148 rows x 3 columns],
 13:       item_id  semana  quantity
 1843      117      41         1
 1844      117      42         0
 1845      117      43         0
 1846      117      44         0
 1847      117      45         0
 ...       ...     ...       ...
 1987      117     185         0
 1988      117     186         1
 1989      117     187         0
 1990      117     188         0
 1991      117     189         1

 [149 rows x 3 columns],
 14:       item_id  semana  quantity
 1992      121      10         1
 1993      121      11         0
 1994      121      12         1
 1995      121      13         0
 1996      121      14         0
 ...       ...     ...       ...
 2197      121     215         0
 2198      121     216         1
 2199      121     217         0
 2200      121     218         1
 2201      121     219         2

 [210 rows x 3 columns],
 15:       item_id  semana  quantity
 2202      130      84         2
 2203      130      85         0
 2204      130      86         0
 2205      130      87         0
 2206      130      88         0
 ...       ...     ...       ...
 2303      130     185         0
 2304      130     186         0
 2305      130     187         0
 2306      130     188         0
 2307      130     189         2

 [106 rows x 3 columns],
 16:       item_id  semana  quantity
 2308      133       8         1
 2309      133       9         0
 2310      133      10         0
 2311      133      11         0
 2312      133      12         0
 ...       ...     ...       ...
 2492      133     192         0
 2493      133     193         0
 2494      133     194         0
 2495      133     195         0
 2496      133     196         1

 [189 rows x 3 columns],
 17:       item_id  semana  quantity
 2497      148     120         2
 2498      148     121         0
 2499      148     122         0
 2500      148     123         0
 2501      148     124         0
 ...       ...     ...       ...
 2553      148     176         0
 2554      148     177         0
 2555      148     178         1
 2556      148     179         0
 2557      148     180         1

 [61 rows x 3 columns],
 18:       item_id  semana  quantity
 2558      150       1         1
 2559      150       2         1
 2560      150       3         1
 2561      150       4         0
 2562      150       5         0
 ...       ...     ...       ...
 2763      150     206         0
 2764      150     207         0
 2765      150     208         0
 2766      150     209         0
 2767      150     210         1

 [210 rows x 3 columns],
 19:       item_id  semana  quantity
 2768      151     130         1
 2769      151     131         1
 2770      151     132         0
 2771      151     133         0
 2772      151     134         0
 ...       ...     ...       ...
 2848      151     210         0
 2849      151     211         0
 2850      151     212         0
 2851      151     213         0
 2852      151     214         1

 [85 rows x 3 columns],
 20:       item_id  semana  quantity
 2853      162     111         1
 2854      162     112         0
 2855      162     113         0
 2856      162     114         0
 2857      162     115         0
 ...       ...     ...       ...
 2935      162     193         0
 2936      162     194         0
 2937      162     195         1
 2938      162     196         0
 2939      162     197         1

 [87 rows x 3 columns],
 21:       item_id  semana  quantity
 2940      175     128         1
 2941      175     129         1
 2942      175     130         1
 2943      175     131         1
 2944      175     132         1
 2945      175     133         1
 2946      175     134         4
 2947      175     135         0
 2948      175     136         0
 2949      175     137         0
 2950      175     138         0
 2951      175     139         0
 2952      175     140         0
 2953      175     141         0
 2954      175     142         0
 2955      175     143         0
 2956      175     144         1
 2957      175     145         0
 2958      175     146         0
 2959      175     147         0
 2960      175     148         0
 2961      175     149         0
 2962      175     150         0
 2963      175     151         0
 2964      175     152         0
 2965      175     153         0
 2966      175     154         1
 2967      175     155         0
 2968      175     156         0
 2969      175     157         1
 2970      175     158         0
 2971      175     159         0
 2972      175     160         0
 2973      175     161         0
 2974      175     162         0
 2975      175     163         0
 2976      175     164         0
 2977      175     165         0
 2978      175     166         1,
 22:       item_id  semana  quantity
 2979      176      19         1
 2980      176      20         0
 2981      176      21         0
 2982      176      22         0
 2983      176      23         0
 ...       ...     ...       ...
 3118      176     158         0
 3119      176     159         0
 3120      176     160         0
 3121      176     161         0
 3122      176     162         3

 [144 rows x 3 columns],
 23:       item_id  semana  quantity
 3123      181       1         1
 3124      181       2         1
 3125      181       3         1
 3126      181       4         0
 3127      181       5         0
 ...       ...     ...       ...
 3337      181     215         1
 3338      181     216         0
 3339      181     217         0
 3340      181     218         0
 3341      181     219         1

 [219 rows x 3 columns],
 24:       item_id  semana  quantity
 3342      192     106         1
 3343      192     107         1
 3344      192     108         0
 3345      192     109         0
 3346      192     110         0
 ...       ...     ...       ...
 3448      192     212         0
 3449      192     213         0
 3450      192     214         0
 3451      192     215         0
 3452      192     216         1

 [111 rows x 3 columns],
 25:       item_id  semana  quantity
 3453      197     127         1
 3454      197     128         0
 3455      197     129         0
 3456      197     130         0
 3457      197     131         0
 ...       ...     ...       ...
 3510      197     184         0
 3511      197     185         0
 3512      197     186         0
 3513      197     187         0
 3514      197     188         1

 [62 rows x 3 columns],
 26:       item_id  semana  quantity
 3515      198     137         1
 3516      198     138         0
 3517      198     139         0
 3518      198     140         0
 3519      198     141         0
 3520      198     142         0
 3521      198     143         0
 3522      198     144         0
 3523      198     145         1
 3524      198     146         1
 3525      198     147         0
 3526      198     148         1
 3527      198     149         2
 3528      198     150         0
 3529      198     151         0
 3530      198     152         0
 3531      198     153         1
 3532      198     154         0
 3533      198     155         0
 3534      198     156         0
 3535      198     157         0
 3536      198     158         1
 3537      198     159         1
 3538      198     160         0
 3539      198     161         0
 3540      198     162         0
 3541      198     163         0
 3542      198     164         0
 3543      198     165         0
 3544      198     166         0
 3545      198     167         1
 3546      198     168         0
 3547      198     169         0
 3548      198     170         0
 3549      198     171         0
 3550      198     172         1
 3551      198     173         0
 3552      198     174         0
 3553      198     175         0
 3554      198     176         2
 3555      198     177         0
 3556      198     178         0
 3557      198     179         2
 3558      198     180         0
 3559      198     181         0
 3560      198     182         0
 3561      198     183         2
 3562      198     184         0
 3563      198     185         0
 3564      198     186         0
 3565      198     187         0
 3566      198     188         1,
 27:       item_id  semana  quantity
 3567      199     122         1
 3568      199     123         0
 3569      199     124         1
 3570      199     125         0
 3571      199     126         0
 ...       ...     ...       ...
 3625      199     180         0
 3626      199     181         0
 3627      199     182         0
 3628      199     183         0
 3629      199     184         1

 [63 rows x 3 columns],
 28:       item_id  semana  quantity
 3630      209     124         3
 3631      209     125         2
 3632      209     126         0
 3633      209     127         0
 3634      209     128         0
 ...       ...     ...       ...
 3704      209     198         0
 3705      209     199         0
 3706      209     200         0
 3707      209     201         0
 3708      209     202         1

 [79 rows x 3 columns],
 29:       item_id  semana  quantity
 3709      211     125         4
 3710      211     126         0
 3711      211     127         0
 3712      211     128         0
 3713      211     129         0
 3714      211     130         0
 3715      211     131         1
 3716      211     132         0
 3717      211     133         1
 3718      211     134         0
 3719      211     135         1
 3720      211     136         0
 3721      211     137         1
 3722      211     138         0
 3723      211     139         1
 3724      211     140         1
 3725      211     141         0
 3726      211     142         0
 3727      211     143         0
 3728      211     144         1
 3729      211     145         0
 3730      211     146         0
 3731      211     147         0
 3732      211     148         0
 3733      211     149         0
 3734      211     150         0
 3735      211     151         0
 3736      211     152         2
 3737      211     153         1,
 30:       item_id  semana  quantity
 3738      215      15         1
 3739      215      16         0
 3740      215      17         7
 3741      215      18         7
 3742      215      19         1
 ...       ...     ...       ...
 3939      215     216         0
 3940      215     217         3
 3941      215     218         4
 3942      215     219         2
 3943      215     220         1

 [206 rows x 3 columns],
 31:       item_id  semana  quantity
 3944      219      19         1
 3945      219      20         0
 3946      219      21         0
 3947      219      22         0
 3948      219      23         0
 ...       ...     ...       ...
 4118      219     193         0
 4119      219     194         0
 4120      219     195         0
 4121      219     196         0
 4122      219     197         1

 [179 rows x 3 columns],
 32:       item_id  semana  quantity
 4123      224     125         1
 4124      224     126         0
 4125      224     127         0
 4126      224     128         0
 4127      224     129         1
 ...       ...     ...       ...
 4186      224     188         0
 4187      224     189         0
 4188      224     190         0
 4189      224     191         0
 4190      224     192         1

 [68 rows x 3 columns],
 33:       item_id  semana  quantity
 4191      225      70         1
 4192      225      71         0
 4193      225      72         0
 4194      225      73         0
 4195      225      74         0
 ...       ...     ...       ...
 4305      225     184         0
 4306      225     185         0
 4307      225     186         0
 4308      225     187         0
 4309      225     188         1

 [119 rows x 3 columns],
 34:       item_id  semana  quantity
 4310      232       4         1
 4311      232       5         0
 4312      232       6         2
 4313      232       7         1
 4314      232       8         0
 ...       ...     ...       ...
 4509      232     203         0
 4510      232     204         0
 4511      232     205         0
 4512      232     206         0
 4513      232     207         1

 [204 rows x 3 columns],
 35:       item_id  semana  quantity
 4514      233      47         1
 4515      233      48         0
 4516      233      49         0
 4517      233      50         0
 4518      233      51         0
 ...       ...     ...       ...
 4631      233     164         0
 4632      233     165         0
 4633      233     166         0
 4634      233     167         0
 4635      233     168         1

 [122 rows x 3 columns],
 36:       item_id  semana  quantity
 4636      244      11         1
 4637      244      12         0
 4638      244      13         0
 4639      244      14         0
 4640      244      15         0
 ...       ...     ...       ...
 4798      244     173         0
 4799      244     174         0
 4800      244     175         0
 4801      244     176         0
 4802      244     177         2

 [167 rows x 3 columns],
 37:       item_id  semana  quantity
 4803      254      59         1
 4804      254      60         0
 4805      254      61         0
 4806      254      62         0
 4807      254      63         1
 ...       ...     ...       ...
 4927      254     183         0
 4928      254     184         0
 4929      254     185         0
 4930      254     186         0
 4931      254     187         1

 [129 rows x 3 columns],
 38:       item_id  semana  quantity
 4932      264     132         1
 4933      264     133         2
 4934      264     134         6
 4935      264     135         0
 4936      264     136         0
 4937      264     137         0
 4938      264     138         0
 4939      264     139        12
 4940      264     140         0
 4941      264     141         0
 4942      264     142         0
 4943      264     143         0
 4944      264     144         2
 4945      264     145         2
 4946      264     146         0
 4947      264     147         0
 4948      264     148         0
 4949      264     149         0
 4950      264     150         4
 4951      264     151         0
 4952      264     152         0
 4953      264     153         0
 4954      264     154         0
 4955      264     155         0
 4956      264     156         0
 4957      264     157         0
 4958      264     158         0
 4959      264     159         0

In [33]:
datos_branches = pd.DataFrame()
datos_branches['branch'] = None
datos_branches['item'] = None
datos_branches['kpi pms'] = None
datos_branches['kpi ses'] = None
datos_branches['kpi sed'] = None
datos_branches['kpi set'] = None
datos_branches['kpi sar'] = None

In [34]:
for item in range(len(dicc_branch4)):
    print(item)
        
    try:
        print("r1")
        r1 = promedio_movil_simple(dicc_branch4, item)
        mae1 = mae(r1[0], r1[1])
    except ValueError:
        r1 = "error"
        mae1 = "error"
    try:
        print("r2")
        r2 = suavizacion_exp_simp(dicc_branch4, item)
        mae2 = mae(r2[0], r2[1])
    except ValueError:
        r2 = "error"
        mae2 = "error"
    try:
        print("r3")
        r3 = suavizacion_exp_doble(dicc_branch4, item)
        mae3 = mae(r3[0], r3[1])
    except ValueError: 
        r3 = "error"
        mae3 = "error"
    try:
        print("r4")
        r4 = suavizacion_exp_triple(dicc_branch4, item)
        mae4 = mae(r4[0], r4[1])
    except ValueError:
        r4 = "error"
        mae4 = "error"
    try:
        print("r5")
        r5 = sarima(dicc_branch4, item)
        mae5 = mae(r5[0], r5[1])
    except ValueError:
        r5 = "error"
        mae5 = "error"


    datos_branches.loc[len(datos_branches)] = [0,
                                               dicc_branch4[item]['item_id'].iloc[0],
                                               mae1,
                                               mae2,
                                               mae3,
                                               mae4,
                                               mae5]

0
r1
r2
r3
r4
r5

KeyboardInterrupt:

In [ ]:
 datos_branches

,branch,item,mae pms,mae ses,mae sed,mae set,mae sar,total semanas con datos,diferencia
0,0.0,121.0,0.041667,0.056427,0.059349,0.191511,0.289924,22.0,72.0
1,0.0,192.0,0.347222,0.395554,0.428790,0.361586,0.443858,10.0,53.0
2,0.0,254.0,0.210526,0.297726,0.328636,0.350435,0.297347,10.0,56.0
3,0.0,365.0,0.833333,0.989396,1.045716,0.868313,0.83351,30.0,81.0
4,0.0,380.0,0.203704,0.293089,0.329988,0.330760,0.461794,23.0,80.0
5,0.0,416.0,0.181818,0.289141,0.323549,0.308735,0.494942,17.0,66.0
6,0.0,558.0,0.052632,0.052700,0.056014,0.202775,0.059336,9.0,58.0
7,0.0,561.0,0.555288,0.647846,0.697608,0.648866,0.593404,35.0,78.0
8,0.0,628.0,0.837963,0.901626,1.072431,0.943225,1.078707,21.0,80.0
9,0.0,641.0,0.052632,0.052637,0.054056,0.094934,0.130331,8.0,58.0
10,0.0,666.0,0.406250,0.409926,0.398656,0.424258,0.487122,10.0,37.0
11,0.0,718.0,0.612500,0.576418,0.765739,1.192101,error,9.0,15.0
12,0.0,772.0,0.317708,0.318961,0.311144,0.366512,0.383421,13.0,71.0
13,0.0,802.0,0.166667,0.160147,0.163532,0.190492,0.311183,11.0,64.0
14,0.0,803.0,1.062500,0.734176,0.722862,1.211788,error,11.0,11.0
15,0.0,885.0,4.225446,2.009047,2.072614,2.082282,2.221319,79.0,83.0
16,0.0,894.0,0.597500,0.652177,0.696858,0.636279,0.606121,17.0,75.0
17,0.0,931.0,0.240741,0.322520,0.340867,0.373054,0.395562,15.0,81.0
18,0.0,932.0,0.418981,0.451845,0.467786,0.452363,0.505005,27.0,80.0
19,0.0,998.0,0.500000,0.547260,0.574348,0.546223,0.560458,31.0,82.0
20,0.0,1024.0,0.496324,0.588001,0.617061,0.563475,0.560578,19.0,51.0
21,0.0,1096.0,0.043478,0.054678,0.123371,0.177560,0.285626,22.0,68.0
22,0.0,1143.0,0.735577,0.750996,0.796004,0.730147,0.80609,11.0,79.0
23,0.0,1178.0,1.093750,1.077678,1.167996,1.173864,error,10.0,11.0
24,0.0,1232.0,0.038462,0.038527,0.039844,0.157827,0.097207,11.0,79.0
25,0.0,1261.0,0.125000,0.122959,0.140916,0.133306,0.188103,8.0,72.0
26,0.0,1296.0,0.055556,0.055612,0.056565,0.075492,0.08503,8.0,53.0
27,0.0,1339.0,0.361111,0.395296,0.444762,0.376903,0.337296,9.0,55.0
28,0.0,1344.0,0.745192,0.807760,0.846799,0.771154,0.790212,32.0,77.0
29,0.0,1345.0,0.537500,2.470519,3.223087,4.311545,error,9.0,15.0
30,0.0,1352.0,0.185185,0.220462,0.267185,0.245718,0.233885,17.0,82.0
31,0.0,1437.0,0.117647,0.175465,0.207455,0.273127,0.168639,11.0,51.0
32,0.0,1476.0,0.370370,0.478108,0.494031,0.448349,0.490734,27.0,82.0
33,0.0,1531.0,0.605978,0.596256,0.619814,0.581095,0.560122,17.0,69.0
34,0.0,1558.0,0.495536,0.627393,0.665933,0.682323,0.752798,8.0,43.0
35,0.0,1604.0,0.495536,0.361848,0.364099,0.478261,0.39514,27.0,83.0
36,0.0,1607.0,0.192308,0.184843,0.217494,0.246871,0.276702,17.0,79.0
37,0.0,1616.0,0.050000,0.084955,0.110953,0.299541,0.164801,9.0,59.0
38,0.0,1620.0,0.045455,0.045455,0.046058,0.171653,0.078738,8.0,66.0
39,0.0,1651.0,0.200000,0.836288,0.806643,0.822526,error,11.0,16.0
40,0.0,1731.0,1.013889,1.174630,1.256641,1.057142,1.091392,50.0,82.0
41,0.0,1737.0,0.646739,0.450325,0.493928,0.506314,0.506213,11.0,69.0
42,0.0,1776.0,0.283482,0.384504,0.405951,0.409938,0.388204,18.0,83.0
43,0.0,1808.0,0.055556,0.055605,0.063947,0.157004,0.107231,12.0,53.0
44,0.0,1830.0,2.668981,2.260358,2.443660,2.347354,2.47229,55.0,81.0
45,0.0,1875.0,0.796875,1.819740,2.024984,2.167438,error,12.0,13.0
46,0.0,1878.0,2.113426,1.595817,1.758346,1.666262,1.652821,73.0,82.0
47,0.0,1893.0,2.875000,2.104002,2.268674,2.091522,2.161173,72.0,80.0
48,0.0,1953.0,0.113636,0.113500,0.132885,0.289242,0.183745,13.0,66.0
49,0.0,1992.0,3.048077,2.122148,2.155225,2.168958,1.898628,61.0,78.0
50,0.0,2017.0,0.607500,0.658483,0.698608,0.607687,0.634125,21.0,76.0
51,0.0,2063.0,0.181818,0.225796,0.240535,0.246074,0.295964,10.0,67.0
52,0.0,2065.0,0.125000,0.203964,0.565370,0.670238,0.373069,10.0,23.0
53,0.0,2066.0,0.875000,1.117727,1.174912,1.261311,error,9.0,13.0
54,0.0,2078.0,0.259615,0.326460,0.340872,0.294570,0.304342,14.0,79.0
55,0.0,2084.0,0.180000,0.265554,0.334503,0.273480,0.376366,13.0,74.0
56,0.0,2115.0,0.312500,0.343291,0.370596,0.582771,0.654822,14.0,67.0
57,0.0,2118.0,0.037037,0.037037,0.037117,0.062729,0.065013,8.0,80.0
58,0.0,2142.0,0.360000,0.454274,0.495572,0.406678,0.357728,8.0,74.0

In [ ]:
datos_branches.to_excel('kpi_pronóstico_branch4.xlsx')

In [ ]:
mejor_metodo_branch4 = pd.DataFrame()
mejor_metodo_branch4['item'] = None
mejor_metodo_branch4['metodo'] = None

In [ ]:
import numpy as np 

for i in range(len(datos_branches)):
    minn = [5, ""]
    
    if type(datos_branches.loc[i][2]) == float or type(datos_branches.loc[i][2]) == np.float64:
        if datos_branches.loc[i][2] < minn[0]:
            minn = [datos_branches.loc[i][2], "pms"]
    
    if type(datos_branches.loc[i][3]) == float or type(datos_branches.loc[i][3]) == np.float64:
        if datos_branches.loc[i][3] < minn[0]:
            minn = [datos_branches.loc[i][3], "ses"]
    
    if type(datos_branches.loc[i][4]) == float or type(datos_branches.loc[i][4]) == np.float64:
        if datos_branches.loc[i][4] < minn[0]:
            minn = [datos_branches.loc[i][4], "sed"]
        
    if type(datos_branches.loc[i][5]) == float or type(datos_branches.loc[i][5]) == np.float64:
        if datos_branches.loc[i][5] < minn[0]:
            minn = [datos_branches.loc[i][5], "set"]
    
    if type(datos_branches.loc[i][6]) == float or type(datos_branches.loc[i][6]) == np.float64:
        if datos_branches.loc[i][6] < minn[0]:
            minn = [datos_branches.loc[i][6], "sar"]

    mejor_metodo_branch4.loc[len(mejor_metodo_branch4)] = [datos_branches.loc[i][1], minn[1]]

In [ ]:
mejor_metodo_branch4

      item metodo
0    121.0    pms
1    192.0    pms
2    254.0    pms
3    365.0    pms
4    380.0    pms
5    416.0    pms
6    558.0    pms
7    561.0    pms
8    628.0    pms
9    641.0    pms
10   666.0    sed
11   718.0    ses
12   772.0    sed
13   802.0    ses
14   803.0    sed
15   885.0    ses
16   894.0    pms
17   931.0    pms
18   932.0    pms
19   998.0    pms
20  1024.0    pms
21  1096.0    pms
22  1143.0    set
23  1178.0    ses
24  1232.0    pms
25  1261.0    ses
26  1296.0    pms
27  1339.0    sar
28  1344.0    pms
29  1345.0    pms
30  1352.0    pms
31  1437.0    pms
32  1476.0    pms
33  1531.0    sar
34  1558.0    pms
35  1604.0    ses
36  1607.0    ses
37  1616.0    pms
38  1620.0    pms
39  1651.0    pms
40  1731.0    pms
41  1737.0    ses
42  1776.0    pms
43  1808.0    pms
44  1830.0    ses
45  1875.0    pms
46  1878.0    ses
47  1893.0    set
48  1953.0    ses
49  1992.0    sar
50  2017.0    pms
51  2063.0    pms
52  2065.0    pms
53  2066.0    pms
54  2078.0    pms
55  2084.0    pms
56  2115.0    pms
57  2118.0    pms
58  2142.0    sar

In [ ]:
mejor_metodo_branch4.to_excel('pronostico_demanda/metodos_branches/mejor_metodo_branch4.xlsx')